@use '@/styles/mixins';

.btn {
    margin: 0;
    padding: 16px 32px;

    border: none;
    border-radius: 37px;

    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    color: white;

    background-color: var(--color-violet);

    &._outline {
        border: 2px solid var(--color-violet);

        color: var(--text);

        background-color: transparent;

        @include mixins.tablet {
            font-size: 20px;
            line-height: 26px;
        }

        &:hover,
        &:focus {
            background-color: transparent;
            opacity: 0.7;
        }
    }

    &:hover,
    &:focus {
        background-color: #752d9c;
    }

    @include mixins.tablet {
        font-size: 20px;
        line-height: 26px;
    }
}
