@use '@/styles/mixins';

.select {
    position: relative;

    &__selected {
        @include mixins.text-t3;

        display: flex;

        padding: 18px 16px;
    }

    &__selected._selected {
        color: var(--text);
    }

    &__container {
        position: relative;

        border: 1.5px solid #e2e3ea;
        border-radius: 16px;

        color: #6b7280;

        background-color: white;

        cursor: pointer;
    }

    &__container._error {
        border-color: red;
    }

    &__options {
        position: absolute;
        top: 56px;
        left: 0;

        width: 100%;

        margin-top: 4px;

        border: 1px solid #e5e7eb;
        border-radius: 8px;

        color: var(--text);

        background: white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: 16px;

        transform: translateY(-50%);
    }

    &__option {
        padding: 10px 16px;

        cursor: pointer;

        &:hover {
            background: #f3f4f6;
        }
    }

    &__options._hidden {
        display: none;
    }
}
