@font-face {
    font-family: 'Wix Madefor Display';
    font-weight: normal;
    font-style: normal;
    src:
        url('/fonts/WixMadeforDisplay-Regular.woff2') format('woff2'),
        url('/fonts/WixMadeforDisplay-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Wix Madefor Display';
    font-weight: bold;
    font-style: normal;
    src:
        url('./fonts/WixMadeforDisplay-Bold.woff2') format('woff2'),
        url('/fonts/WixMadeforDisplay-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-style: normal;
    src:
        url('/fonts/WixMadeforDisplay-SemiBold.woff2') format('woff2'),
        url('/fonts/WixMadeforDisplay-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Wix Madefor Display';
    font-weight: 500;
    font-style: normal;
    src:
        url('/fonts/WixMadeforDisplay-Medium.woff2') format('woff2'),
        url('/fonts/WixMadeforDisplay-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
    src:
        url('/fonts/Inter-Regular.woff2') format('woff2'),
        url('/fonts/Inter-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src:
        url('./fonts/Inter-SemiBold.woff2') format('woff2'),
        url('/fonts/Inter-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Wix Madefor Text';
    font-weight: 500;
    font-style: normal;
    src:
        url('/fonts/WixMadeforText-Medium.woff2') format('woff2'),
        url('/fonts/WixMadeforText-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Wix Madefor Text';
    font-weight: normal;
    font-style: normal;
    src:
        url('/fonts/WixMadeforText-Regular.woff2') format('woff2'),
        url('/fonts/WixMadeforText-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Wix Madefor Text';
    font-weight: bold;
    font-style: normal;
    src:
        url('./fonts/WixMadeforText-Bold.woff2') format('woff2'),
        url('/fonts/WixMadeforText-Bold.woff') format('woff');
    font-display: swap;
}
