@mixin pre-tablet {
    @media (min-width: 667px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin desktop-1440 {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin desktop-1200 {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin desktop-1600 {
    @media (min-width: 1600px) {
        @content;
    }
}

@mixin text-t1 {
    font-family: 'Wix Madefor Text', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
}

@mixin text-t2 {
    font-family: 'Wix Madefor Display', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

@mixin text-mob {
    font-family: 'Wix Madefor Text', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}

@mixin text2-mob {
    font-family: 'Wix Madefor Display', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

@mixin mob-title-2 {
    font-family: 'Wix Madefor Display', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
}

@mixin mob-title {
    font-family: 'Wix Madefor Display', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

@mixin h1-mob {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
